<configuration>
    <connectionStrings>
        <add name="Project Listing Dump 09-19-2016ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;G:\Google Drive\OneDrive Transfer\Canadian Tire Work Folder\00 IA Datamaster\Financial Analytics Pilot\Project Listing Dump 09-19-2016.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Project Listing Dump 09-19-2016ConnectionString2"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;G:\Google Drive\OneDrive Transfer\Canadian Tire Work Folder\00 IA Datamaster\Financial Analytics Pilot\Project Listing Dump 09-19-2016.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Project Listing Dump 09-19-20161ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;G:\Google Drive\OneDrive Transfer\Canadian Tire Work Folder\00 IA Datamaster\Financial Analytics Pilot\Project Listing Dump 09-19-20161.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Project Listing Dump 09-19-20161ConnectionString2"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;G:\Google Drive\OneDrive Transfer\Canadian Tire Work Folder\00 IA Datamaster\Financial Analytics Pilot\Project Listing Dump 09-19-20161.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Project Listing Dump 09-19-20161ConnectionString3"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\Ahsanul.Kabir\Google Drive\OneDrive Transfer\Canadian Tire Work Folder\00 IA Datamaster\Financial Analytics Pilot\Project Listing Dump 09-19-20161.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Project Listing Dump 09-19-20161ConnectionStringAll"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\Ahsanul.Kabir\Google Drive\OneDrive Transfer\Canadian Tire Work Folder\00 IA Datamaster\Financial Analytics Pilot\Project Listing Dump 09-19-20161.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Project Listing Dump 09-19-20161ConnectionStringListbox"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\Ahsanul.Kabir\Google Drive\OneDrive Transfer\Canadian Tire Work Folder\00 IA Datamaster\Financial Analytics Pilot\Project Listing Dump 09-19-20161.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Project Listing Dump 09-19-20161ConnectionString4"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;G:\Google Drive\OneDrive Transfer\Canadian Tire Work Folder\00 IA Datamaster\Financial Analytics Pilot\Project Listing Dump 09-19-20161.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>