<configuration>
    <connectionStrings>
        <add name="Test Database 1 - CopyConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;G:\Google Drive\OneDrive Transfer\Canadian Tire Work Folder\00 IA Datamaster\Project Listing Revamped\Search Site\Test Database 1 - Copy.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>